/* Global styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body, .site-wrap
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.site-wrap {
  overflow-x: hidden;
}

:root {
  --main-font-color: #ffa500;
  --main-white: #fff;
  --main-font-dark-gray: #4d4d4d;
  --main-footer-bg-color: #141414;
  --main-font-family: "Dancing Script", cursive;
}

section {
  padding: 6rem 0;
}

p {
  line-height: 1.5;
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--main-font-dark-gray);
}

a {
  text-decoration: none;
  color: var(--main-white);
}

/* Reusable classes */
.hide-overflow {
  overflow: hidden;
}

.hide-content {
  visibility: hidden;
}

.btn {
  display: inline-block;
  transition: all 650ms;
  border-radius: 3px;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
}

.btn-info{
  font-size: 1.2rem;
  padding: 1rem;
  color: var(--main-font-color);
  border-bottom: 2px solid var(--main-font-color);
  margin: 2rem 0 4rem 0;
}

.btn-info:hover {
  background-color: var(--main-font-color);
  color: var(--main-white);
}

.custom-font {
  font-family: var(--main-font-family);
  color: var(--main-font-color);
  font-size: 6.5rem;
  line-height: 1;
  font-weight: 100;
  margin-bottom: 1rem;
}

.custom-font-secondary {
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-right: -5px;
  font-size: 2.5rem;
  line-height: .2;
  color: var(--main-font-dark-gray);
  margin-bottom: 5rem;
}

.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.between-sec{
  padding: 20rem 0;
  text-align: center;
}

.between-sec h2 {
  color: var(--main-white);
}

/* Back to top Button */
.back-to-top {
  padding: 2rem 2.5rem;
  position: fixed;
  bottom: 3rem;
  right: 4rem;
  background-color: rgba(0,0,0,.5);
  z-index: 999;
  border-radius: 3px;
  cursor: pointer;
  display: none;
  -webkit-tap-highlight-color: transparent;
}

.back-to-top .bar1 {
  content: "";
  position: absolute;
  height: 2px;
  width: 2.65rem;
  background-color: var(--main-white);
  top: 0;
  left: 0;
  right: 1.8rem;
  bottom: .3rem;
  margin: auto;
  transition: 650ms;
  transform: rotate(-45deg);
}

.back-to-top .bar2 {
  content: "";
  position: absolute;
  height: 2px;
  width: 2.65rem;
  background-color: var(--main-white);
  top: 0;
  left: 1.8rem;
  right: 0;
  bottom: .3rem;
  margin: auto;
  transition: 650ms;
  transform: rotate(45deg);
}

.back-to-top .bar3 {
  content: "";
  position: absolute;
  height: 2px;
  width: 1.55rem;
  background-color: var(--main-white);
  top: 1.2rem;
  left: 0;
  right: 1rem;
  bottom: 0;
  margin: auto;
  transition: 650ms;
  transform: rotate(-45deg);
}

.back-to-top .bar4 {
  content: "";
  position: absolute;
  height: 2px;
  width: 1.55rem;
  background-color: var(--main-white);
  top: 1.2rem;
  left: 1rem;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: 650ms;
  transform: rotate(45deg);
}

.active-top .bar1 {
  height: 2px;
  width: 1.55rem;
  top: 1.2rem;
  left: 0;
  right: 1rem;
  bottom: 0;
}

.active-top .bar2 {
  height: 2px;
  width: 1.55rem;
  top: 1.2rem;
  left: 1rem;
  right: 0;
  bottom: 0;
}

.active-top .bar3 {
  height: 2px;
  width: 2.65rem;
  top: 0;
  left: 0;
  right: 1.8rem;
  bottom: .3rem;
}

.active-top .bar4 {
  height: 2px;
  width: 2.65rem;
  top: 0;
  left: 1.8rem;
  right: 0;
  bottom: .3rem;
}

.active-top {
  transition: 650ms;
  visibility: hidden;
}

/* Header */
header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0,0,0,.9), transparent),
              url("../images/landingbg.jpeg") bottom no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

/* Header - Nav Toggle */
.menu {
  padding: 2rem 2.5rem;
  position: fixed;
  top: 3rem;
  right: 4rem;
  background-color: rgba(0,0,0,.5);
  z-index: 999;
  border-radius: 3px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.menu .bar,
.menu .bar::before,
.menu .bar::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 4rem;
  background-color: var(--main-white);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: 650ms;
}

.menu .bar::before {
  top: -2rem;
}

.menu .bar::after {
  top: 2rem;
}

.active .bar {
 background-color: transparent;
}

.active .bar::before {
  transform: rotate(45deg);
}

.active .bar::after {
  transform: rotate(-45deg);
}

.active .bar::before,
.active .bar::after {
  top: 0;
}

/* Header - Nav */
#logo {
  display: none;
  text.transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
  border-bottom: 1px solid #fff;
  margin-bottom: -5px;
}

.nav {
  width: 100%;
  height: 6rem;
  line-height: 6rem;
  position: relative;
}

.overlay {
  background-color: rgba(0,0,0,.9);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: opacity 650ms;
  transform: scale(0);
  opacity: 0;
}

.overlay.menu-open {
  transform: scale(1);
  opacity: 1;
}

.nav .overlay ul {
  position: relative;
  height:  100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav .overlay ul li {
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
}

.nav .overlay ul li a {
  display: block;
  font-size:  2rem;
  transition: all 650ms;
}

.nav .overlay ul li a:hover,
.nav .overlay ul li a .active:hover {
  color: var(--main-font-color);
}

/* Header - Main Text */
.main-text {
  line-height: 0;
  margin: auto;
  color: var(--main-white);
  user-select: none;
}

.main-text h1 {
  font-family: var(--main-font-family);
  color:var(--main-font-color);
  font-size: 6rem;
  font-weight: 100;
  margin-bottom: 4rem;
}

.main-text h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-right: -5px;
  font-size: 2rem;
  line-height: 1;
  position: relative;
}

.main-text h2::before,
.main-text h2::after {
  content:"";
  width: 2rem;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  background-color: var(--main-white);
  border-radius: 8px;
}

.main-text h2::before{
  left: 1rem;
}

.main-text h2::after{
  right: 1rem;
}

.main-btn {
  font-size: 1.5rem;
  border: 2px solid var(--main-font-color);
  padding: 2rem 2.5em;
  letter-spacing: 3px;
  margin-right: -3px;
  position: relative;
  margin-top: 1.75rem;
  background-color: rgba(0,0,0,.5);
}

.main-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
}

.main-btn:active {
  transform: translateY(0);
  box-shadow: none;
}

/* Section - Our Services Browser */
.frame1{
  width: 100%;
  min-height: 30rem;
  background: url("../images/frame1.jpg") center no-repeat;
  background-size: cover;
}

/* Section - Easy to use */
.free-city-guides {
  width: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,.5),
              rgba(0,0,0,.5)), url("../images/between.jpg") center no-repeat;
  background-size: cover;
}
/* Section - Our Services Editor */
.frame2{
  width: 100%;
  min-height: 30rem;
  background: url("../images/frame2.png") center no-repeat;
  background-size: cover;
}

/* Section - Help Us */
.help-us {
  width: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,.5),
              rgba(0,0,0,.5)), url("../images/between2.jpg") center no-repeat;
  background-size: cover;
}

/* Section - Team */
.team-group {
  display: block;
}

.team-group img {
  border-radius: 50%;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:3rem;
  margin-bottom:3rem;
}

.team-group h2 {
  letter-spacing: 2px;
  margin-right: -2px;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.team-group p {
  line-height: 1;
  font-size: 1.5rem;
}

/* Footer */
footer {
  position: absolute
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000;
   text-align: center;
   padding: 4rem 0;
}

footer p {
  line-height: 1;
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--main-white);
}

/* Map */
#map {
	position:absolute;
  left:2.5rem; right:2.5rem;
  top:12.5rem; bottom:7.5rem;
	margin:auto;
	max-width:100%;
	max-height:100%;
	overflow:hidden;
  z-index:0;
  text-align: left;
}



/* Media Queries */
@media screen and (min-width: 769px) {

  .main-text h1 {
    font-size: 10rem;
    margin-bottom: 6rem;
  }

  .main-text h2 {
    letter-spacing: 5px;
    font-size: 3rem;
  }

  .main-text h2::before,
  .main-text h2::after {
    width: 3rem;
    height: 3px;
  }

  .main-btn {
    font-size: 2rem;
    border: 3px solid var(--main-font-color);
    padding: 2.5rem 3em;
    margin-top: 2.5rem;
  }

  header,
  .between-sec {
    background-attachment: fixed;
  }

  .menu {
    display: none;
  }

  .nav {
    display: flex;
    padding: 2rem 10rem 0;
    justify-content: space-between;
  }

  #logo {
    display: block;
  }

  .nav .overlay {
    position: initial;
    background: none;
    opacity: initial;
    transform: initial;
  }

  .nav .overlay ul {
    flex-direction: row;
    list-style: none;
    margin-top: 2px;
  }

  .nav .overlay ul li a {
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-right: -1px;
    padding: 0 2rem;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .center {
    flex: 1;
  }

  .add-flex {
    flex: 1;
  }

  .add-padding-right {
    margin-right: 10rem;
  }

  .first {
    order: 1;
  }

  .second{
    order: 2;
  }

  .frame1, .frame2 {
    min-height: 40rem;
  }

  .btn-info {
    font-size: 1.8rem;
  }
}

/* Animations */

.main-text h1 {
  transform: translateY(4rem);
  opacity: 0;
  animation: .5s fadeUp .5s forwards;
}

.main-text h2 {
  transform: scale(2);
  opacity: 0;
  animation: fadeIn .5s forwards;
}

.main-text .main-btn {
  opacity: 0;
  animation: .5s fade 1s forwards;
}

@keyframes fadeIn {
  0%{
    transform: scale(2);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeUp {
  0%{
    transform: translateY(4rem);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
